.oracleSourceBody{
    height: 85%;
    width: 100%;
    margin-top: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.oracleSourceBody input{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    
}