.tile {
    background: white;
    border-radius: 20px;
    padding: 3%;
    aspect-ratio: 1;
    width: 10%;
    text-align: center;
  }

  .tile:after {
    content: "";
    display: block;
  }

  .text {
    font-size: 30px;
    color: #0C3260;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }


 